{% extends "base.html" %}

{% block tittle %}all workers{% endblock tittle %}

{% block data %}
    <div class="two-form">
        <form id="sort-form" class="dropdown">
            <select class="btn btn-secondary dropdown-toggle" name="sort" onchange="submitForm()">
                <option class="dropdown-item" value="-id">Sorted -Id</option>
                <option class="dropdown-item" value="id">Sorted Id</option>
                <option class="dropdown-item" value="first_name">Name A-Z</option>
                <option class="dropdown-item" value="-first_name">Name Z-A</option>
                <option class="dropdown-item" value="last_name">Surname A-Z</option>
                <option class="dropdown-item" value="-last_name">Surname A-Z</option>
                <option class="dropdown-item" value="salary">Salary</option>
                <option class="dropdown-item" value="-salary">-Salary</option>
                <option class="dropdown-item" value="-recruitment">Date</option>
                <option class="dropdown-item" value="-recruitment">-Date</option>
            </select>
        </form>
        <nav class="navbar bg-body-tertiary">
      <div>
        <form id="search-form" action="{% url 'employees:all_workers' %}" class="d-flex" role="search" method="get">
          {% csrf_token %}
          <input class="form-control me-2" type="text" placeholder="Write Name or Surname" aria-label="Search" name="q">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </nav>
    </div>
  {% if object_list %}
      <table class="table table-striped table-hover">
          <tr>
              <th id="" scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Surname</th>
              <th scope="col">Job title</th>
              <th scope="col">Salary</th>
              <th scope="col">Employment date</th>
              <th scope="col">Supervisor</th>
          </tr>
      {% for worker in object_list %}
          <tr id="model-list" >
              <th scope="row"><a href="/" class="not-border"><div class="all-place">{{ worker.id }}</div></a></th>
              <td><a href="{% url 'employees:one_worker' pk=worker.id %}" class="not-border"><div class="all-place">{{ worker.first_name }}</div></a></td>
              <td><a href="{% url 'employees:one_worker' pk=worker.id %}" class="not-border"><div class="all-place">{{ worker.last_name }}</div></a></td>
              <td><a href="{% url 'employees:one_worker' pk=worker.id %}" class="not-border"><div class="all-place">{{ worker.job_title }}</div></a></td>
              <td><a href="{% url 'employees:one_worker' pk=worker.id %}" class="not-border"><div class="all-place">{{ worker.salary }}</div></a></td>
              <td><a href="{% url 'employees:one_worker' pk=worker.id %}" class="not-border"><div class="all-place">{{ worker.recruitment }}</div></a></td>
              <td><a href="{% url 'employees:one_worker' pk=worker.id %}" class="not-border"><div class="all-place">{{ worker.supervisor.first_name }} {{ worker.supervisor.sur_name }} {{ worker.supervisor.last_name }}</div></a></td>
          </tr>
      {% endfor %}
    </table>
        {% if is_paginated %}
            <nav class="" aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <li class="page-item">
                    {% if page_obj.has_previous %}
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}"><<<</a>
                    {% else %}
                    <p class="page-link"><<<</p>
                    {% endif %}
                </li>
                <li class="page-item"><p class="page-link">{{ page_obj.number }}/{{ page_obj.paginator.num_pages }}</p></li>
                <li class="page-item">
                    {% if page_obj.has_next %}
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">>>></a>
                    {% else %}
                    <p class="page-link">>>></p>
                    {% endif %}
                </li>
              </ul>
            </nav>
        {% endif %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  {% else %}
      <p>No employees found with this name!</p>
  {% endif %}

{% endblock data %}