{% extends 'base.html' %}

{% block tittle %}search{% endblock tittle %}

{% block data %}
    <form id="search-form" method="get" action="{% url 'employees:search' %}">
        {% csrf_token %}
        <input type="text" name="q" placeholder="Search...">
        <button type="submit">Search</button>
    </form>
    {% if object_list %}
          <table class="table table-striped table-hover">
              <tr>
                  <th id="" scope="col">ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Surname</th>
                  <th scope="col">Job title</th>
                  <th scope="col">Salary</th>
                  <th scope="col">Employment date</th>
                  <th scope="col">Supervisor</th>
              </tr>
            {% for worker in object_list %}
            <tr>
                <th scope="row"><a href="/" class="not-border"><div class="all-place">{{ worker.id }}</div></a></th>
                <td><a href="{% url 'employees:one_worker' pk=worker.id %}" class="not-border"><div class="all-place">{{ worker.first_name }}</div></a></td>
                <td><a href="{% url 'employees:one_worker' pk=worker.id %}" class="not-border"><div class="all-place">{{ worker.last_name }}</div></a></td>
                <td><a href="{% url 'employees:one_worker' pk=worker.id %}" class="not-border"><div class="all-place">{{ worker.job_title }}</div></a></td>
                <td><a href="{% url 'employees:one_worker' pk=worker.id %}" class="not-border"><div class="all-place">{{ worker.salary }}</div></a></td>
                <td><a href="{% url 'employees:one_worker' pk=worker.id %}" class="not-border"><div class="all-place">{{ worker.recruitment }}</div></a></td>
                <td><a href="{% url 'employees:one_worker' pk=worker.id %}" class="not-border"><div class="all-place">{{ worker.supervisor.first_name }} {{ worker.supervisor.sur_name }} {{ worker.supervisor.last_name }}</div></a></td>
            </tr>
            {% endfor %}
          </table>

            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current-page">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
    {% else %}
        <p>No products found.</p>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

{% endblock %}
